 // COLORS
 $primary-background: #ffffff;
 $secondary-background: #f4f0ef;
 $tertiary-background: #F5F7FA;
 $primary-text: #797979;
 $color-button: #2B599F;
 $colorlight-button: rgba(239, 111, 49, 0.1);
 $color-hover: #69a0fd;
 $color-white: #FFFFFF;
 $font-style: 'Dancing Script', cursive;
 $color-title: #6ac4f1;
