 // COLORS
 $primary-background: #ffffff;
 $secondary-background: #f4f0ef;
 $primary-text: #797979;
 $color-button: #EF6F31;
 $color-hover: #69a0fd;
 $color-white: #FFFFFF;
 $font-style: "Rossela Demo", Sans-serif;
